{% extends 'base_layout.html' %}

{% block header %}
  {% block title %}{{ title }}{% endblock %}
{% endblock %}

{% block content %}
	
	<!-- Adding our form into the login page -->
	<div class="content-section">
		<form method='POST'>
			<!-- Add a security check for the app form against external threats-->
			{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4"> {{ title }} - To Access Admin Tools</legend>
					<div class="form-group">
						{{ form.username.label(class="form-control-label") }}

						<!-- validations for the username field and errors-->
						{% if form.username.errors %}
							{{ form.username(class="form-control form-control-md is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control form-control-md") }}
						{% endif %}

						<small class="form-text text-muted"> 
							Never share your credentials with anyone.
						</small>
					</div>
					<div class="form-group">
						{{ form.password.label(class="form-control-label") }}

						<!-- validations for password field and errors-->
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-md is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control form-control-md") }}
						{% endif %}

					</div>
					<div class="form-check">
						{{ form.remember(class="form-check-input") }}
						{{ form.remember.label(class="form-check-label") }}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info")}}
				</div>
		</form>
		{% if g.user %}
		   	<small class="form-text text-muted"> 
				<span> Hey {{ g.user['username'] }}, You already logged. Go to </span>
				<span><a href="{{ url_for('student.index') }}"> Application </a></span>
			</small>
		{% endif %}
	</div>

{% endblock %}








